.faq{
    width: 100%;
    height: fit-content;
    padding: 40px 0;
    background-color: var(--light-white);
}

.faq-container{
    display: flex;
    flex-direction: row;
    max-width: var(--max-width);
    flex-wrap: wrap;
    justify-content: space-between;
    width: 90%;
    margin: 0 auto;
}

.faq-header{
    margin-bottom: 30px;
    width: 100%;
}

.faq-title{
    font-family: var(--font-poppins);
    font-size: 40px;
    font-weight: 700;
}

.faq-description{
    font-family: var(--font-quicksand);
    font-size: 18px;
    text-align: justify;
}

.faq-description > a {
    color: var(--yellow);
}

.faq-items{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 48%;
    height: fit-content;
    justify-content: space-between;
}

.faq-item{
    height: 50px;
    width: 100%;
    border: 2px solid var(--gray-light);
    border-radius: 5px;
    margin: 15px 0;
}


.faq-item:hover{
    cursor: pointer;
}

.faq-item-header{
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 15px;
}

.faq-item-title{
    font-family: var(--font-quicksand);
    font-size: 16px;
    font-weight: 600;
}

.faq-item-description, 
.x-icon{
    display: none;
}


.faq-item-description > a{
    color: var(--yellow);
    font-weight: 600;
}


.active{
    height: fit-content;
    border-color: var(--yellow);
    transition: 0.5s all;
}

.active .x-icon{
    display: inline-block;
    color: var(--yellow);
}

.active .plus-icon{
    display: none;
}

.active > .faq-item-description{
    display: block;
    margin: 0;
    padding: 15px 15px 35px 15px;

    font-family: var(--font-quicksand);
    font-size: 16px;
    line-height: 1.5;
    text-align: justify;
}

@media only screen and (max-width: 860px){

    .faq-container{
        flex-direction: column;
    }

    .faq-items{
        width: 100%;
    }
}

@media only screen and (max-width: 700px){
    
    .faq-title{
        font-size: 30px;
    }

    .faq-description{
        font-size: 16px;
    }

}

@media only screen and (max-width: 560px){

    .faq-title{
        font-size: 25px;
    }

    .faq-item-title{
        font-size: 14px;
    }
}
