.home-promo-container{
    min-height: 700px;
    height: fit-content;
    width: 100%;
    overflow: hidden;
    background-color: var(--yellow);
}

.home-promo-content{
    position: absolute;
    width: 90%;
    height: 100%;
    z-index: 1;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    left: 5%;
    padding: 70px 0;
}

.promo-content-item{
    width: 50%;
    height: fit-content;
    padding: 0 20px;
}

.promo-headline{
    font-size: 40px;
    font-weight: 900;
    font-family: var(--font-poppins);
    color: var(--blue);
    text-transform: capitalize;
    line-height: 1.5;
}

.promo-headline > .red-bar{
    color: var(--red);
    background-color: var(--blue);
}

.promo-headline > .yellow{
    color: #feffff;
    background-color: var(--red);
}

.promo-description{
    font-family: var(--font-quicksand);
    font-size: 20px;
    margin: 30px 0;
}

.promo-img{
    width: 100%;
    overflow: hidden;
}

.promo-img > img{
    width: 100%;
    min-width: 500px;
    height: auto;
    margin: 0 auto;
}

.timer-countdown{
    display: flex;
    flex-direction: row;
    align-items: center;
    height: fit-content;
    width: fit-content;
    margin-bottom: 40px;
}

.square-timer{
    width: 80px;
    border: 2px solid var(--blue);
    font-family: var(--font-poppins);
    padding: 10px 5px;
    font-size: 14px;
    text-align: center;
    color: var(--white);
}

.square-timer > span{
    font-weight: 800;
    font-size: 19px;
    text-align: center;
    width: 100%;
    color: var(--blue);
}

.space-divider{
    width: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    font-weight: 700;
    color: var(--blue);
}

.btn-claim-deal{
    width: fit-content;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid var(--red);
    padding: 0 20px;
    border-radius: 30px;
    font-weight: 600;
    font-family: var(--font-poppins);
    font-size: 17px;
    color: var(--red);
    background-color: var(--blue);
}


@media only screen and (max-width: 1040px){

    .promo-img > img{
        min-width: 400px;
    }

}


@media only screen and (max-width: 960px){

    .promo-headline{
        font-size: 35px;
    }

}