.secondary-menu,
.open-secondary-menu{
    display: none;
}


.s-m-bottom{
    display: none;
}

@media only screen and (max-width: 960px) {
    .open-secondary-menu{
        display: flex;
        height: calc(100vh - 60px);
        width: 100%;
        background-color: var(--secondary);
        position: fixed;
        z-index: 9;
    }
    
    .s-m-container{
        width: 70%;
        height: 100%;
        background-color: var(--white);
        padding-left: 3.5%;
        padding-top: 30px;
    }
    
    .menu-mobile-menu-container{
        height: fit-content;
        width: fit-content;
        margin: 0;
        padding: 0;
    }
    
    .secondary-navbar {
        width: 100%;
        display: flex;
        flex-direction: column;
        list-style-type: none;
        padding: 0;
        font-family: var(--font-quicksand);
        margin: 0;
    }
    
    .menu-mobile-menu-container .secondary-navbar > li{
        margin-bottom: 20px;
    }
    
    
    .menu-mobile-menu-container .secondary-navbar > li > a{
        font-size: 16px;
        color: var(--gray);
    }
    
    
    .menu-mobile-menu-container .secondary-navbar > .current_page_item > a{
        color: var(--black);
        font-weight: 500;
    }
    
    .menu-mobile-menu-container .secondary-navbar > li > a:hover{
        color: var(--black);
        font-weight: 500;
    }
    
    .s-m-bottom{
        display: flex;
        flex-direction: column;
        width: fit-content;
        height: fit-content;
    }
    
    .s-m-b-item{
        margin-bottom: 20px;
        font-family: var(--font-quicksand);
    }
    
    .s-m-b-item > i{
        font-size: 16px;
    }
    
    .s-m-b-item:hover{
        cursor: pointer;
    }
    
    .s-m-bottom > .join-now{
        margin: 0;
    }
}