:root{
    --font-poppins: 'Poppins', sans-serif;
    --font-quicksand: 'Quicksand', sans-serif;
    /* Font Sizes */
    --font-normal: 1em;
    --font-small: 0.8125rem;
    --max-width: 1280px;
    --blue: #007bff;
    --indigo: #6610f2;
    --purple: #6f42c1;
    --pink: #ee3577;
    --red: #FD450C;
    --orange: #f68e62;
    --yellow: #ffc107;
    --green: #28a745;
    --teal: #20c997;
    --cyan: #17a2b8;
    --white: #fff;
    --gray: #767575;
    --gray-light:#D0D0D0;
    --gray-dark: #292929;
    --primary: #6f42c1;
    --secondary: #4f4f4f;
}



.value{
    height: 120px;
    width: 100%;
    background-color: var(--red);
}

.value-container{
    display: flex;
    width: 90%;
    height: 100%;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}


.value-text{
    width: 560px;
    font-family: var(--font-quicksand);
    font-size: 22px;
    text-align: center;
    color: var(--white);
}   


.value-text > span{
    font-weight: 600;
}


@media only screen and (max-width: 960px){
    .value-text{
        font-size: 20px;
    }
}

@media only screen and (max-width: 600px){
    .value-text{
        font-size: 18px;
    }
}

@media only screen and (max-width: 460px){
    .value-text{
        font-size: 16px;
    }
}