.layout-home{
    width: 100%;
    height: fit-content;
    position: relative;
    background-color: var(--white);
}

.layout-home-container{
    width: 90%;
    height: fit-content;
    padding: 80px 0;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    overflow-x: hidden;
}


.layout-home-text{
    width: 46%;
    height: fit-content;
}


.layout-home-title{
    font-size: 50px;
    font-family: var(--font-poppins);
    line-height: 1.2;
    font-weight: 900;
}


.layout-home-description{
    margin: 30px 0;
    font-family: var(--font-quicksand);
    font-size: 20px;
    line-height: 1.5;
}

.layout-home-description > a{
    color: var(--blue);
}


.layout-home-enroll-btn{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    width: 170px;
    border: 2px solid var(--blue);
    background-color: transparent;
    font-family: var(--font-quicksand);
    font-size: 18px;
    font-weight: 600;
    border-radius: 5px;
    color: var(--blue);
}


.layout-home-enroll-btn > a{
    color: var(--blue);
}

.btn-red{
    color: var(--yellow);
    border-color: var(--yellow);
}

.btn-red > a{
    color: var(--yellow);
}

.layout-home-enroll-btn:hover{
    cursor: pointer;
    transition: ease .2s;
    border: 0;
    background-color: var(--blue);
    color: var(--white);
}


.layout-home-enroll-btn:hover > a{
    color: var(--white);
}


.layout-home-img-container{
    height: fit-content;
    width: auto;
    position: relative;
}


.layout-home-background-corner-square{
    position: absolute;
    height: 60px;
    width: 60px;
    background-color: var(--gray-dark);
    top: -20px;
    left: -30px;
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
}

.layout-home-img-background{
    background-color: var(--blue);
    width: 400px;
    height: 370px;
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
}


.layout-home-img{
    height: 450px;
    position: absolute;
    top: -80px;
    right: 0;
    z-index: 0;
}

.short{
    height: 550px;
    top: -180px;
}

.l-h-overlay-background,
.layout-home-background-mobile-version{
    display: none;
    background-color: var(--blue);
}


.red{
    background-color: var(--yellow);
}

.blue{
    background-color: var(--blue);
}

.yellow{
    background-color: var(--yellow);
}

.beige{
    background-color: var(--beige);
}

.left{
    left: -170px;
}

.left-contact{
    left: -120px;
}

@media only screen and (max-width: 960px){
    .layout-home{
        margin-top: 60px;
    }

    .layout-home-title{
        font-size: 40px;
    }

    .layout-home-description{
        font-size: 18px;
    }

    .layout-home-img-container{
        width: 50%;
    }
} 


@media only screen and (max-width: 900px){
    .layout-home-img-container{
        width: 46%;
    }

    .layout-home-img-background{
        width: 100%;
        height: 359px;
        margin: 0;
    }

    .layout-home-background-corner-square{
        height: 60px;
        width: 60px;
        top: -20px;
    }

    .layout-home-img{
        height: 430px;
        top: -70px;
    }
}

@media only screen and (max-width: 780px){
    .layout-home-container{
        position: relative;
        padding: 40px 0;
    }

    .layout-home-text{
        width: 80%;
        position: relative;
        z-index: 4;
        color: var(--white);
    }

    .layout-home-img-container{
        width: 100%;
        height: 100%;
        background-color: transparent;        
        position: absolute;
        top: 0;
    }

    .layout-home-img{
        height: 100%;
        top: 0;
        right: 0;
        z-index: 1;
    }

    .layout-home-background-corner-square,
    .layout-home-img-background{
        display: none;
    }

    .l-h-overlay-background,
    .layout-home-background-mobile-version{
        display: block;
        height: 100%;
        width: 100%;
        position: absolute;
        top: 0;
    }

    .l-h-overlay-background{
        background-color: var(--overlay);
        z-index: 3;
    }

    .layout-home-background-mobile-version{
        z-index: 0;
    }

    .layout-home-enroll-btn{
        border: 0;
        background-color: var(--white);
        color: var(--yellow);
    }
    
    
    .layout-home-enroll-btn:active{
        background-color: var(--yellow);
        color: var(--white);
    }
    
    .left-contact{
        left: 40%;
    }

    .left{
        left: 20%;
    }

}


@media only screen and (max-width: 710px){
    .left-contact{
        left: 30%;
    }

    .left{
        left: 10%;
    }
}


@media only screen and (max-width: 650px){

    .layout-home-container{
        width: 100%;
    }

    .layout-home-text{
        width: 90%;
        margin: 0 auto;
    }

    .layout-home-title{
        font-weight: 600;
    }

    .left-contact{
        left: 40%;
    }

    .left{
        left: 20%;
    }
}

@media only screen and (max-width: 600px){
    .left-contact{
        left: 35%;
    }

    .left{
        left: 15%;
    }
}


@media only screen and (max-width: 570px){
    .layout-home-title{
        font-size: 35px;
    }

    .left-contact{
        left: 30%;
    }

    .left{
        left: 10%;
    }
}


@media only screen and (max-width: 550px){
    .left-contact{
        left: 25%;
    }

    .left{
        left: 0%;
    }
}


@media only screen and (max-width: 500px){
    /*.layout-home-img{
        width: 80%;
        height: 90%;
        top: 10%;
    }*/

    .left-contact{
        left: 20%;
    }

    .left{
        left: -5%;
    }
}


@media only screen and (max-width: 480px){
    /*.layout-home-img{
        width: 80%;
        height: 90%;
        top: 10%;
    }*/

    .left-contact{
        left: 15%;
    }

    .left{
        left: -10%;
    }
}


@media only screen and (max-width: 450px){
    /*.layout-home-img{
        width: 80%;
        height: 90%;
        top: 10%;
    }*/

    .left-contact{
        left: 5%;
    }

    .left{
        left: -18%;
    }
}

@media only screen and (max-width: 430px){
    /*.layout-home-img{
        width: 80%;
        height: 90%;
        top: 10%;
    }*/

    .left-contact{
        left: 0%;
    }

    .left{
        left: -30%;
    }
}


@media only screen and (max-width: 410px){
    /*.layout-home-img{
        width: 80%;
        height: 90%;
        top: 10%;
    }*/

    .left-contact{
        left: -5%;
    }


    .left{
        left: -35%;
    }
}


@media only screen and (max-width: 390px){
    /*.layout-home-img{
        width: 80%;
        height: 90%;
        top: 10%;
    }*/

    .left-contact{
        left: -10%;
    }

    .left{
        left: -45%;
    }
}


@media only screen and (max-width: 370px){
    /*.layout-home-img{
        width: 100%;
        height: 90%;
        top: 10%;
    }*/

    .left-contact{
        left: -20%;
    }

    .left{
        left: -50%;
    }
}


@media only screen and (max-width: 360px){
    /*.layout-home-img{
        width: 100%;
        height: 90%;
        top: 10%;
    }*/

    .left-contact{
        left: -25%;
    }


    .left{
        left: -60%;
    }
}


@media only screen and (max-width: 345px){
    /*.layout-home-img{
        width: 100%;
        height: 90%;
        top: 10%;
    }*/

    .left-contact{
        left: -30%;
    }

    .left{
        left: -65%;
    }
}


@media only screen and (max-width: 330px){
    /*.layout-home-img{
        width: 100%;
        height: 90%;
        top: 10%;
    }*/

    .left-contact{
        left: -35%;
    }

    .left{
        left: -80%;
    }
}


@media only screen and (max-width: 315px){
    /*.layout-home-img{
        width: 100%;
        height: 90%;
        top: 10%;
    }*/

    .left-contact{
        left: -40%;
    }

    .left{
        left: -85%;
    }
}


@media only screen and (max-width: 310px){
    /*.layout-home-img{
        width: 100%;
        height: 90%;
        top: 10%;
    }*/

    .left-contact{
        left: -45%;
    }

    .left{
        left: -90%;
    }
}